.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background: transparent;
  height: 100vh;
}

.circle {
  fill: none;
  stroke-width: 4;
  animation: rotate 2s linear infinite;
}

.outer {
  stroke: #a2c445de;
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  animation: dash 2s ease-in-out infinite;
}

.inner {
  stroke: #9acc14;
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: dash 2s ease-in-out infinite reverse;
  opacity: 0.6;
}

.dots {
  fill: #a2c445de;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 314;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -314;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
