@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
  @apply bg-[#081629];
}
.bg-green {
  @apply bg-[#0b323d];
}

body {
  font-family: "Outfit", sans-serif;
}

.main-heading {
  font-family: "Monoton", sans-serif;
}

#particles canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #dafa9d #374151; /* thumb and track colors */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9acc14;
}
