@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert colors to turn black icon to white */
  cursor: pointer;
}
.bg-custom {
  @apply bg-[#081629];
}
.bg-green {
  @apply bg-[#0b323d];
}

html, body {
  font-family: "Outfit", sans-serif;
  position: relative;
}

.main-heading {
  font-family: "Monoton", sans-serif;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #22d3ee #1e293b; /* thumb and track colors */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #22d3ee;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1e293b;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
